* {
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    background: linear-gradient(to right top, #1c89e3, #c114e0b0);
    display: flex;
    justify-content: center;
}
.box{
    width:300px;

    background-color: white;
  margin: 70px 0px;
    border-radius: 10px;
    padding: 40px;
   display: flex;
   flex-direction: column;
}
.box input{
    width: 270px;
    height: 30px;
    margin-top:10px;
    margin-bottom: 10px;
    border: none;
}
.box h1{
    text-align: center;
}
.box h4{
    margin-top: 10px;
    text-align: right;
}
.box button{
    width:290px;
    margin-top: 30px;
    margin-bottom: 30PX;
    padding: 10px;
    border-radius: 25px;
    background-color: #D538F4;
    color: white;
    border: none;
}
.box .p1{
    text-align: center;
    margin-bottom: 12px;
}
.box .p2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 12px;
}
.box h3{
    text-align: center;
}
.border{
    border-bottom: 2px solid rgb(125, 121, 121);
    margin-bottom: 20px;
}
.border2{
    border-bottom: 2px solid rgb(125, 121, 121);
}
.icons{
    margin-top: 5px;
    display: flex;
    justify-content: center;    
}
.icons svg{
    margin: 0px 10px;
}

